.confirmation_code_wrapper {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    width: 100% !important;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .confirmation_code_content_wrapper {
        background-image: url("../../../assets/images/main_bg_img.jpg");
        background-size: 100% 100vh;
        width: 0;
        height: 0;
        animation-name: confirmCodeAnm;
        animation-duration: 500ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        display: flex;
        & > div {
            width: 50%;
        }
        & > div:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 100px;
            justify-content: space-around;
            & > p {
                font-family: "Inter-500";
                font-size: 12px;
                line-height: 15px;
                color: #fff;
                max-width: 65%;
                text-align: center;
            }
        }
        .confirm_content_wrapper {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .confirmation_title {
                font-weight: 400;
                font-size: 28px;
                line-height: 34px;
                margin-bottom: 32px;
            }
            .confirmation_clue_text {
                max-width: 55%;
                text-align: center;
                color: #808080;
                margin-bottom: 40px;
            }
            .confirmation_confirm_btn {
                background: var(--m-c);
                cursor: pointer;
                color: #fff;
                width: 350px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
            }
            & > div:last-child {
                margin-top: 32px;
                padding: 0 20px;
                display: flex;
                width: 350px;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                color: #808080;
                & > p {
                    cursor: pointer;
                }
            }
        }
    }
}
.vi__wrapper input::placeholder {
    color: #fff !important;
    background: #fff !important;
}

.vf_container {
    margin-bottom: 40px;
}

.vf_character {
    border: 1px solid #e8ebed;
    border-radius: 5px !important;
    font-size: 14px;
    text-transform: uppercase;
    height: 30px;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vf_character_selected {
    outline-color: var(--m-c);
    color: var(--m-c);
}
.vf_character_inactive {
    background-color: #fff;
}

@keyframes confirmCodeAnm {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        transform: rotate(0);
        border-radius: 50%;
    }
    100% {
        border-radius: none;
        opacity: 1;
        width: 100%;
        height: 100vh;
        transform: rotate(360deg);
    }
}
